<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Trek Travel</title>

    <link href="foundation.css" media="screen" rel="stylesheet" type="text/css">

    <link href="trek.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section id = "message"></section>
    <section id = "errors"></section>

    <button id = "load"> Trips</button>

    <div id = "alltrips">
      <!-- <table> -->
        <!-- <thead>
          <th> ID</th>
          <th> Name</th>
          <th> Continent</th>
          <th> Weeks</th>
        </thead>
        <tbody>

        </tbody> -->
      <!-- </table> -->
    </div>

    <script id="trips" type="text/template">
    <tr>
      <td><%- data.id %></td>
    <!-- data- is special attribute -->
      <td><a href = "#" class= "trip-link" data-trip-id= "<%- data.id %>"><%- data.name %></a></td>
      <!-- <a href = "https://trektravel.herokuapp.com/trips/1"></a> -->
      <td><%- data.continent %></td>
      <td><%- data.weeks %></td>
    </tr>
    </script>

<!-- Show trip -->
        <div id= "show-trip" ></div>

      <script id= "one-trip" type="text/template" >
<div class="row">

    <div class ="columns small-12 medium-6">
      <form class="" action="https://trektravel.herokuapp.com/trips/<%-data.id%>/reserve" method="post">
        <section>
          <fieldset>
            <legend>Signup for This Trip</legend>

          <label>Name</label>
          <input type="text" id="name" name="name"></input>

          <label>Age</label>
          <input type="text" id="name" name="age"></input>

          <label>Email</label>
          <input type="text" id="name" name="email"></input>

        <section class="button">
          <button type="submit">Submit</button>
        </section>
      </fieldset>
    </form>
  </div>

    <div class="columns small-12 medium-6">

      <h1><%- data.name %> </h1>
      <h2><%- data.continent + " Continent" %></h2>

      <p><strong>Categoey: </strong><%- data.category %></p>

      <p><strong>Cost: </strong><%- "$" + Math.round(data.cost) %></p>

      <p><strong>Duration: </strong><%- data.weeks +" weeks" %></p>


      <p><h2>About this trip: </h2><%- data.about %></p>
  </div>
</div>

    </script>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>

    <script src="trek.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

  </body>
</html>
