@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Damion');

html, body{
  height: 100%;
  font-family: 'Alegreya Sans';
  font-style: italic;
}

#load {
  margin-top: 20px;
  background-color: #4CAF50;
  float:left;
  border-radius: 50%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

#button-continent{
  margin-top: 20px;
  background-color: #4CAF50;
  border-radius: 50%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

#trips-continent{
  display: inline-block;
}

.header{
  margin-top: 20px;
  font-family: "Damion";
  color: white;
  font-size: 2em;
  z-index: -4;
}

body,h1,h2{
  font-family: 'Acme';
  font-style: italic;
  text-shadow: -1px 0 blac, 0  1px blac, 1px 0 blac, 0  -1px blac;
}

body {
  background-image: url("https://goo.gl/ik2Rk9") ;
  /*background-image: url("https://goo.gl/SEr8ya") ;*/
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

header{
  height:100px;
  background-color: green;
  text-align: center;
}

td,p {
  text-align: left;
  font-size: 2em;
}

.about-trip {
  z-index: 4;
  /*color: blue;*/
  padding: 20px;
  background-color: lightyellow;
  text-align: justify;
  font-size: 2em;
}

label {
  font-size: 1.5em;
}
